 <h1>All Music</h1>

 
<% @musics.each do |music| %>
  <div class="music">
    <h3><%= music.song_title %> <small>(by: <%= music.author %>)</small></h3>
    <p>
      <a href="<%= music.url %>"><%= music.url %></a>
    </p>
  </div>
<% end %>

<hr/>
<a href="/music/new">Add a new song to the list!</a>