<h1>Add a Song</h1>

<% if @musics && @musics.errors.any? %>
  <div>
    <strong>Sorry, some errors occured with your submission:</strong>
    <ul>
      <% @musics.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/music">
  <div>
    <label>Song Title:</label>
    <input type="text" name="song_title" value="<%= @musics && @musics.song_title %>">
  </div>

  <div>
    <label>Author:</label>
    <input type="text" name="author" value="<%= @musics && @musics.author %>">
 </div>

  <div>
    <label>URL (optional):</label>
    <input type="text" name="url">
  </div>

  <div>
    <input type="submit" value="Submit">
  </div>

</form>