<h1>Add a Song</h1>

<% if @musics && @musics.errors.any? %>
  <div>
    <strong>Sorry, some errors occured with your submission:</strong>
    <ul>
      <% @musics.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<form class="form-horizontal" method="post" action="/music">
  <div class="col-xs-8">
    <label for="SongTitle">Song Title:</label>
    <input type="text" class="form-control" id="SongTitle" placeholder="Song Title">
<!--     <input type="text" name="song_title" value="<%= @musics && @musics.song_title %>"> -->
  </div>

  <div class="col-xs-8">
    <label for="Author">Author:</label>
    <input type="text" class="form-control" id="Author" placeholder="Author">
 </div>

  <div class="col-xs-8">
    <label for="URL">URL (optional):</label>
    <input type="text" class="form-control" id="URL" placeholder="URL">
  </div>
  
  <div class="col-sm-10">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  

</form>