<h1>Sign Up for a New User Account</h1>

<% if @users && @users.errors.any? %>
  <div>
    <strong>Sorry, something is missing from your registration form:</strong>
    <ul>
      <% @users.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<form class="form-horizontal" method="post" action="/sign_up">

  <div class="col-xs-8">
    <br>
    <label for="Email">Email:</label>
    <input type="text" class="form-control" name="email" id="Email" placeholder="Email">
 </div>

  <div class="col-xs-8">
    <br>
    <label for="Password">Password:</label>
    <input type="text" class="form-control" name="password" id="Password" placeholder="Password">
  </div>
  
  <div class="col-sm-10">
    <br>
    <button type="submit" class="btn btn-primary">Sign Up!</button>
  </div>

  <div class="col-sm-10">
    <hr/>
    <p>Already registered? Log in!</p>
    <button type="submit" class="btn btn-primary">Log In</button>
  </div>
  

</form>